<div id="header-container">
    <div id="profile">
        <div class="img-wrapper">
            <img id="pic" src="assets/connor.JPEG">
        </div>
        
        <div id="name-container">
            <div id="name">
                Connor Graflund 
            </div>
            <div id="title">
                Software Engineer, M.S. Computer Science
            </div>
        </div>
        
    </div>
    <div class="nav">
        <a href="">Home</a>
        <a href="#about-me">About Me</a>
        <a href="#resume">Resume</a>
        <a href="#gallery">Gallery</a>
        <a href="map">Map</a>
    </div>
    <div class="links">

    </div>
</div>
