<section id="about-me">
    <h1>About Me</h1>
    <div id="about">
        
        <div class="img-wrapper">
            <img id="about-img" src="assets/connor.JPEG">
        </div>
        <div id="about-text">
            <p>
                Hello! My name is Connor and I'm a software engineer in Denver, CO.
                I have experience working 
            </p>
            
            <p>
                Hobbies: Volleyball 🏐, Gaming 👾, Cooking 👨‍🍳, Hiking 🏔️, Language learning 
            </p>
            
            <p>
                Interests: LGBTQ+ Advocacy 🏳️‍🌈, New Urbanism 🏙️, Simulation 🖥️
            </p>
            
        </div>
    </div>
</section>
<section id="resume">
    <h1>Resume</h1>
    <div class="resume-wrapper">
        <div class="resume-wrapper-vert">
            <div class="resume-paper">
                <h2>Work Experience</h2>
                <div class="resume-bubble">
                    <b><a href="https://www.avnet.com/">Avnet</a></b> | Denver, CO
                    <p>
                        <b>IoT Technical Solutions Engineer III</b> 
                        (September 2023 - March 2024)
                    </p>
                    <ul>
                        <li>Created a Python agent for edge devices to facilitate communication between the IoTConnect cloud platform and client applications</li>
                        <li>Gained experience working with hardware such as gateways, microcontrollers, and sensors and cloud interaction</li>
                    </ul>
                </div>
                
                <div class="resume-bubble">
                    <b><a href="https://medeciphersolutions.com/">Medecipher</a></b> | Denver, CO
                    <p>
                        <b>Software Engineer: Full Stack</b> 
                        (November 2020 - September 2023)
                    </p>
                    <ul>
                        <li>Developed a web app for Medecipher's nurse scheduling tool from scratch. Created an Angular frontend and api in Python + FastAPI. </li>
                        <li>Designed a Postgres database for storing shift, nurse, and characteristic data and outputs from the optimization model</li>
                        <li>Responsible for leading multiple groups of student interns who assisted with the project. Provided code reviews.</li>
                    </ul>
                    <b>Data Science Intern</b> (May 2020 - June 2020)
                    <ul>
                        <li>Applied Amazon's DeepAR time series forecasting algorithm to forecast hourly patient demand for an emergency department</li>
                    </ul>
                </div>
                
                <div class="resume-bubble">
                    <b><a href="https://www.mines.edu/">Colorado School of Mines</a></b> | Golden, CO
                    <p>
                        <b>Teaching Assistant: CSCI 403 Database Management</b> 
                        (Spring 2021, Fall 2021)
                    </p>
                </div>

                <div class="resume-bubble">
                    <b><a href="https://www.campdiscovery.com/">Discovery Day Camp</a></b> | Indian Creek, CO
                    <p>
                        <b>Summer Camp Counselor</b> 
                        (Summer 2019)
                    </p>
                    
                    <ul>
                        <li>Co-lead a group of twenty 5th and 6th graders </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="resume-wrapper-vert">
            <div class="resume-paper">
                <h2>Education</h2>
                <div class="resume-bubble">
                    <b><a href="https://www.mines.edu/">Colorado School of Mines</a></b> | Golden, CO
                    <ul>
                        <li><b>M.S. Computer Science</b> | December 2021</li>
                        <li><b>B.S. Computer Science: Data Science</b> | December 2021</li>
                    </ul>
                        
                </div>
                
            </div>
            <div class="resume-paper">
                <h2>Technical Skills</h2>
                
            </div>
        </div>
        
    </div>
</section>
<section id="gallery">
    <h1>Gallery</h1>
</section>
